<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>IX-API Documentation</title>
    </head>
    <body>
        
    {{range .}}
    <h2>{{.}}</h2>
      <ul>
        <li><a href="/{{.}}/">Show the IX-API schema using Redoc</a></li>
      </ul>
      <ul>
        <li><a href="/{{.}}/ix-api-schema-{{.}}.json">ix-api-schema-{{.}}.json</a></li>
        <li><a href="/{{.}}/ix-api-schema-{{.}}.yml">ix-api-schema-{{.}}.yml</a></li>
      </ul>
      <ul>
        <li><a href="/{{.}}/problems">Problem Details</a></li>
      </ul>
    {{end}}

    </body>
</html>

